.card {
    height: 51px;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-left: 5px solid #3A5DD4;

    &:last-child {
        margin-bottom: 0;
    }
}

.title {
    margin-left: 9px;
}

.percentage {
    background-color: #3A5DD4;
    color: white;
    width: 36px;    
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    margin-right: 24px;
    margin-left: 4px;
    flex-shrink: 0;
}

.curtain {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    left: 0;
    top: 0;
  
    background-color: black;
    opacity: 20%;
}
  
.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 765px;
    padding-bottom: 32px;
  
    background-color: white;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
}

.subtitle {
    margin-top: 24px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.333333px;
}
  
.close {
    position: absolute;
    right: -20px;
    top: -15px;
}

.line {
    width: 100%;
    height: 0;
    border: 1px solid #E1E1E1;
    margin-top: 12px;
    margin-bottom: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 13px;
}

.edit {
    margin-right: 8px;
    cursor: pointer;
}

.contributors {
    width: 90%;
}

.delete {
    cursor: pointer;
}

.yes {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-right: 15px;
  
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    
    padding: 10px 20px 10px 20px;
    background: #F85565;
    border-radius: 50px;
    
    display: inline-flex;
    align-items: center;
    transition: background-color 250ms ease-in-out;
    border: 3px solid #F85565;
    
    &:hover {
        background-color: white;
        border: 3px solid #F85565;
        cursor: pointer;
        color: #F85565;
    }
}

.no {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 15px;
  
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    
    padding: 10px 20px 10px 20px;
    background: #3A5DD4;
    border-radius: 50px;
    
    display: inline-flex;
    align-items: center;
    transition: background-color 250ms ease-in-out;
    border: 3px solid #3A5DD4;
    
    &:hover {
        background-color: white;
        border: 3px solid #3A5DD4;
        cursor: pointer;
        color: #3A5DD4;
    }
}