.card {
    background-color: #FBFAFF;
    margin-bottom: 24px;
  }
  
  .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  
  .title {
      margin-left: 24px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
  
      letter-spacing: 0;
  }
  
  .add {
      margin-top: 29px;
      margin-right: 36px;
  }
  
  .quarter {
      margin-right: 26px;
      font-weight: 600;
  }
  
  .results {
      margin-left: 26px;
      margin-right: 26px;
      padding-bottom: 24px;
  }