.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3A5DD4;
    overflow-x: hidden;
}

.logo {
    width: 100px;
    height: 100px;
}

.sidebar a {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;

    display: block;
    text-align: center;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }

.icons {
    width: 36px;
    height: 36px;
    margin-top: 30px;
}