.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3A5DD4;
    overflow-x: hidden;
    z-index: 1;
}

.logo {
    width: 100px;
    height: 100px;
}

.sidebar a {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover .subnav {
      display: block;
    }
  }

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.icons {
    width: 36px;
    height: 36px;
}

.links {
  width: 80px;
  height: 80px;
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  &:first-child {
    margin-top: 34px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.links.active { 
  background-color:rgba(0, 0, 0, 0.3);
}

.subnav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100px;
  background-color: #D4DBF6;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
  font-size: 20px;
  letter-spacing: -0.333333px;
}

.item {
  width: 152px;
  height: 60px;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;

  &:first-child {
    margin-top: 129px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: white;
  }
}

.item.active { 
  background-color:white;
}