.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3A5DD4;
    overflow-x: hidden;
    z-index: 1;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 23px;
}

.sidebar a {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 10;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;

    &:hover .subnav {
      display: block;
    }
  }

.nav {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 40px;
}

.icons {
    width: 36px;
    height: 36px;
    margin-right:9px;
}

.iconText {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.items {

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.items.active { 
  background-color:rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.links {
  padding-left: 32px;
  padding-top: 19px;
  padding-bottom: 19px;

}

.sublinks {
  display: flex;
  flex-direction: column;
}

.item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 19px;
  }
}

.item.active {
  font-weight: 1000;
}

.arrow {
  margin-right: 15px;
}